<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Vue Mastery</title>

    <!-- Import Styles -->
    <link rel="stylesheet" href="./assets/styles.css" />

    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3.0.11/dist/vue.global.js"></script>

  </head>
  <body>
    <div id="app">
      <div class="nav-bar"></div>
      <div class="cart">Cart({{ cart }})</div>
      <product-display :premium="premium"></product-display>
      <product-display :premium="premium"></product-display>
      <product-display></product-display>

      <!-- <div class="product-display">
        <div class="product-container">
          <div class="product-image"
          :class=" { 'out-of-stock-img': !inStock }">
            <img :src="image">
          </div>
          <div class="product-info">
            <h1>{{ title }}</h1>
            <p>{{ description }}</p>
            <p> {{ sale }}</p>
            <product-display></product-display>

            <p v-if="inventory > 15">In Stock</p>
            <p class="inventory" v-else-if="inventory <= 15 && inventory > 0">Almost out of Stock!</p>
            <p v-else>Out of Stock</p>

            <ul>
              <li v-for="detail in details">{{ detail }}</li>
            </ul>
            
            <div
              v-for="(variant, index) in variants"
              :key="variant.id"
              @mouseover="updateVariant(index)"
              class="color-circle"
              :style="{ backgroundColor: variant.color }">
            </div>

            <ul>
              <li v-for="(size, sizeIndex) in sizes" :key="sizeIndex">{{ size }}</li>
            </ul>
            
            <button class="button"
            :class="{ disabledButton: !inStock }"
            :disabled="!inStock" 
            @click="addToCart" >
              Add to Cart
            </button>

            <button class="button" @click="cart = cart > 0 ? cart - 1 : 0">Remove Item</button>

            <a :href="url">Socks.com
            </a>
          </div>
        </div>
      </div> -->

    </div>

    <!-- Import App  -->
    <script src="./main.js"></script>

    <!-- Import Components  -->
    <script src="./components/ProductDisplay.js"></script>

    <script src="./components/ProductDetails.js"></script>

    <!-- Mount App  -->
    <script>
      const mountedApp = app.mount('#app')
    </script>
  </body>
</html>
