<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Vue Mastery</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="./assets/styles.css" />
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3.0.11/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="nav-bar"></div>
      <div class="cart">Cart({{ cart }})</div>
      
      <div class="product-display">
        <div class="product-container">
          <div class="product-image">
            <!-- image goes here -->
            <img :src="image">
          </div>
          <div class="product-info">
            <h1>{{ product }}</h1>
            <p>{{ description }}</p>

            <p v-if="inventory > 20">In Stock</p>
            <p class="inventory" v-else-if="inventory <= 15 && inventory > 0">Almost out of Stock!</p>
            <p v-else>Out of Stock</p>

            <p class="sale" v-show="onSale">On Sale!</p>

            <ul>
              <li v-for="detail in details">{{ detail }}</li>
            </ul>
            
            <div v-for="variant in variants" :key="variant.id" @mouseover="updateImage(variant.image)">{{ variant.color }}</div>

            <ul>
              <li v-for="(size, sizeIndex) in sizes" :key="sizeIndex">{{ size }}</li>
            </ul>

            <button class="button" @click="cart += 1">Add to Cart</button>

            <!-- <button class="button" @click="cart -= 1">Remove</button> -->
            <button class="button" @click="cart = cart > 0 ? cart - 1 : 0">Remove Item</button>

            <a :href="url">Socks.com
            </a>
          </div>
        </div>
      </div>

    <!-- Import App  -->
    <script src="./main.js"></script>

    <!-- Mount App  -->
    <script>
      const mountedApp = app.mount('#app')
    </script>
  </body>
</html>
